{% extends 'base.html.twig' %}

{% block title %} Session Exemple {% endblock %}

{% block body %}
    <div class="container">
    <h1 class="">le nbrVisite et :{{app.Session.get('nbrVisite')}}</h1>
    </div>
{% endblock %}
